// Set your brand colors
$dark: hsl(22, 12%, 26%);
$beige: hsl(72, 13%, 55%);
$red: hsl(0, 30%, 40%);
$yellow: hsl(35, 30%, 40%);
$light: hsl(0, 0%, 94%);

:root {
    --green: #005500;
    --red: #8b0000;
    --orange: #802200;
    --blue: #0000b5;
    --yellow: #634806;
    --purple: #8b008b;
}

// #cfb9a2
// #e6e2dd
// #282e3c

@import "98.css/dist/98.css";
@import "98.css/variables.css";

html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    background: $dark;
}

#app {
    background: #008080;
    overflow-y: scroll;
}

section {
    background-color: #fff;
}

svg {
  fill: currentColor;
}

.title-bar {
    .title-bar-text {
        user-select: none;
    }
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1;
    margin: 0;
}
h1 {font-size: 4em;}
h2 {font-size: 3.5em;}
h3 {font-size: 3em;}
h4 {font-size: 2.5em;}
h5 {font-size: 2em;}
h6 {font-size: 1.5em;}
p {margin: 1em 0 0.5em;}

.window {
    padding: 4px;

    .window-body {
        font-family: "Mulish", sans-serif;
        font-size: 10pt;
    }
}

.menu-bar-container {
    border-bottom: 1px solid var(--button-highlight);

    .menu-bar {
        border-bottom: 1px solid var(--button-shadow);
        display: flex;
        justify-content: space-between;

        button.menu-bar-item {
            // line-height: 1;
            box-shadow: none;
            padding: 2px 4px;
            min-width: 0;
            border: 1px solid transparent;
            margin: 1px 0;
            outline: transparent;
            min-height: auto;

            &:hover {
                border-top: 1px solid var(--button-highlight);
                border-left: 1px solid var(--button-highlight);
                border-right: 1px solid var(--button-shadow);
                border-bottom: 1px solid var(--button-shadow);
            }
            &:active, &.active {
                border-top: 1px solid var(--button-shadow);
                border-left: 1px solid var(--button-shadow);
                border-right: 1px solid var(--button-highlight);
                border-bottom: 1px solid var(--button-highlight);
            }

            &.icon {
                min-width: 50px;
            }

            &.schedule:hover .mso {
                text-shadow: 0 0 var(--red);
            }
            &.schedule:active .mso, &.schedule.active .mso {
                text-shadow: 1px 1px var(--red);
            }
            &.roster:hover .mso {
                text-shadow: 0 0 var(--blue);
            }
            &.roster:active .mso, &.roster.active .mso {
                text-shadow: 1px 1px var(--blue);
            }
            &.standings:hover .mso {
                text-shadow: 0 0 var(--yellow);
            }
            &.standings:active .mso, &.standings.active .mso {
                text-shadow: 1px 1px var(--yellow);
            }
            &.leagues:hover .mso {
                text-shadow: 0 0 var(--green);
            }
            &.leagues:active .mso, &.leagues.active .mso {
                text-shadow: 1px 1px var(--green);
            }
            &.training:hover .mso {
                text-shadow: 0 0 var(--purple);
            }
            &.training:active .mso, &.training.active .mso {
                text-shadow: 1px 1px var(--purple);
            }
            &.settings:hover .mso {
                text-shadow: 0 0 var(--orange);
            }
            &.settings:active .mso, &.settings.active .mso {
                text-shadow: 1px 1px var(--orange);
            }
        }
    }
}

#shell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pt {
    padding-top: 0.5em;
}

.pb {
    padding-bottom: 0.5em;
}

fieldset {
    display: inline-block;
    vertical-align: top;
}

.sunken-panel {
    table {
        width: 100%;
    }
}

.mso { // Material Symbols, Outlined
    font-family: "Material Symbols Outlined";
    font-size: 32px;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
    line-height: 1;
}

#throbber {
    background-color: var(--text-color);
    margin-top: 1px;
    box-sizing: border-box;
    width: 52px;

    &.animate {
        img {
            transform: rotateY(-90deg);
            animation: rotateAnimation 1s linear infinite;
        }
    }
}

@keyframes rotateAnimation {
    from {transform: rotateY(-90deg);}
    to {transform: rotateY(90deg);}
}

.emboss {
    border-top: 1px solid var(--button-highlight);
    border-left: 1px solid var(--button-highlight);
    border-right: 1px solid var(--button-shadow);
    border-bottom: 1px solid var(--button-shadow);
}

td {
    border-bottom: 1px solid var(--button-shadow);
}

table tr:last-child td {
    border-bottom: none;
}